description = "Grundlayout"
==
<html>
    <head>
        <link href="{{ 'assets/css/normalize.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <link href="{{ 'assets/semantic/semantic.min.css'|theme }}" rel="stylesheet" type="text/css">
        <script src="{{ 'assets/semantic/semantic.min.js'|theme }}"></script>
        <!-- script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script -->
        {% placeholder head %}
    </head>
<body>
<!-- Header -->
<header id="layout-header">
    {% partial 'site/header' %}
</header>

<!-- Content -->
<section id="layout-content">
    {% page %}
</section>

<!-- Footer -->
<footer id="layout-footer">
    {% partial 'site/footer' %}
</footer>
<!-- Scripts -->
<script src="{{ 'assets/js/app.js'|theme }}"></script>
{% framework extras %}
{% scripts %}

</body>
</html>